# fly.toml app configuration file generated for willow_camp
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = 'willow-camp'
primary_region = 'yyz'
console_command = '/rails/bin/rails console'

[build]
dockerfile = "Dockerfile"

[deploy]
release_command = './bin/rails db:migrate --trace'

[env]
RAILS_ENV = 'production'
RAILS_LOG_TO_STDOUT = 'true'
RAILS_SERVE_STATIC_FILES = 'true'

[http_service]
internal_port = 80
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 1
processes = ['app']

[http_service.concurrency]
type = 'requests'
hard_limit = 1000
soft_limit = 750

[[http_service.checks]]
grace_period = '10s'
interval = '30s'
method = 'GET'
timeout = '5s'
path = '/up'

[[vm]]
size = 'shared-cpu-1x'
memory = '1gb'
cpus = 1
processes = ['app']
