<% if status == "success" %>
  <div data-form-status-target="message" class="alert alert-success transition-opacity duration-300">
    <%= heroicon "check-circle", options: { class: "stroke-current shrink-0 h-6 w-6" } %>
    <span><%= message %></span>
  </div>
<% elsif status == "error" %>
  <div data-form-status-target="message" class="alert alert-error">
    <%= heroicon "x-circle", options: { class: "stroke-current shrink-0 h-6 w-6" } %>
    <span><%= message %></span>
  </div>
<% end %>
