<div class="flex flex-col items-center justify-center min-h-screen px-4">
  <main class="text-center max-w-full mx-auto">
    <h1 class="text-4xl md:text-6xl font-bold mb-4 text-accent">willow.camp</h1>
    <h2 class="text-xl font-light mb-12 text-muted">A place to stash your things</h2>
    <p class="font-light mb-12 text-muted">Writing, Reading, & Bookmarking</p>

    <%= link_to "Sign In", new_session_path, class: "willow-button" %>
  </main>
</div>