<%= form_with(model: post, url: dashboard_post_path(post), id: "edit_post_form", class: "form-control") do |form| %>
  <%= render "form_fields", form: form, post: post %>
  <div class="form-control w-full mt-6">
    <%= form.submit class: "btn btn-primary w-full" %>
    <% if flash[:form_status] %>
      <div class="mt-4">
        <%= render "shared/form_status", status: flash[:form_status][:type], message: flash[:form_status][:message] %>
      </div>
    <% end %>
  </div>
<% end %>
