<% content_for :title, "Editing post" %>
<div class="card w-full lg:w-3xl">
  <div class="card-body">
    <h1 class="card-title">Editing post</h1>
    <%= render "form", post: @post %>
    <div class="card-actions justify-end">
      <%= button_to "Delete", dashboard_post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-error" %>
      <% if @post.published? %>
        <%= link_to "View post", post_url(@post.slug, subdomain: @post.author.subdomain), target: "_blank", class: "btn btn-primary" %>
      <% end %>
      <%= link_to "Back to Dashboard", dashboard_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
