<% content_for :title, "New post" %>
<div class="card w-full lg:w-3xl">
  <div class="card-body">
    <h1 class="card-title">New post</h1>
    <%= render "form", post: @post %>
    <div class="card-actions">
      <%= link_to "Back to posts", posts_path, class: "btn btn-outline" %>
    </div>
  </div>
</div>
