/* Import accessibility styles */
@import '../static/accessibility.css';

/* Import Choices.js styles */
@import 'choices.js/public/assets/styles/choices.css';

/* Tailwind v4 + plugins */
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: all;
}
