/* Import accessibility styles */
@import '../static/accessibility.css';

/* Import Choices.js base styles */
@import 'choices.js/public/assets/styles/choices.css';

/* Import custom Choices.js theme styles */
@import './choices-custom.css';

/* Tailwind v4 + plugins */
@import "tailwindcss";

/* Tell Tailwind where to scan for class names */
@source "../internal/blog/templates/**/*.html";
@source "../internal/dashboard/templates/**/*.html";
@source "../internal/shared/templates/**/*.html";

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: all;
}
