<div class="">
  <%= link_to post_path(post_row.slug), class: "block p-4" do %>
    <h3 class="text-lg font-medium flex flex-col">
      <span class="text-xs text-base-content/60 pb-1"><%= post_row.published_at.strftime("%b %d, %Y") %></span>
      <span class="sm:pl-3"><%= post_row.title %></span>
    </h3>
  <% end %>
</div>
