.prose-custom {
  @apply text-lg leading-relaxed [&>p]:mb-6 [&>h1]:text-3xl [&>h1]:mb-4 [&>h2]:text-2xl [&>h2]:mb-3 [&>h3]:text-xl [&>h3]:mb-2 [&_ul]:mb-6 [&_ol]:mb-6;
}

.prose-custom ul,
.prose-custom ol {
  @apply pl-6;
  list-style-position: outside;
}

.prose-custom ul li,
.prose-custom ol li {
  @apply mb-2;
  position: relative;
  padding-left: 0.5em;
}
