<div class="flex flex-col items-center justify-center min-h-screen">
  <% content_for :title, "Editing page" %>
  <div class="card w-full lg:w-3/4">
    <div class="card-body">
      <h1 class="card-title text-2xl font-bold">Editing page</h1>
      <%= render "form", page: @page %>
      <div class="card-actions justify-end mt-4">
        <%= button_to "Delete", dashboard_page_path(@page), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-error" %>
        <% if @page.published? %>
          <%= link_to "View page", post_url(@page.slug, subdomain: @page.author.subdomain), target: "_blank", class: "btn btn-primary" %>
        <% end %>
        <%= link_to "Back to Dashboard", dashboard_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
