<div class="flex flex-col items-center justify-center min-h-screen">
  <% content_for :title, "New page" %>
  <div class="card w-full lg:w-3/4">
    <div class="card-body">
      <h1 class="card-title text-2xl font-bold">New page</h1>
      <%= render "form", page: @page %>
      <div class="card-actions justify-end mt-4">
        <%= link_to "Back to Dashboard", dashboard_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
