<div id="tokens" class="w-full">
  <% if tokens.any? %>
    <div class="">
      <% tokens.each do |token| %>
        <%= render 'dashboard/settings/token', token: token %>
      <% end %>
    </div>
  <% else %>
    <p class="text-center text-[var(--light-muted)] dark:text-[var(--dark-muted)] py-4">No tokens created yet.</p>
  <% end %>
</div>
